@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e6e8e6;
}

body::-webkit-scrollbar {
  width: 15px;
}
body::-webkit-scrollbar-track {
  background-color: #d4bdbd;
}
body::-webkit-scrollbar-thumb {
  background-color: #646cff;
  border-radius: 15px;
}
